@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.font-bold {
  font-weight: 700;
}

.py-2 {
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
}

.px-4 {
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
}

.rounded-full {
  border-radius: 9999px;
}

.m-5 {
  margin: 1.25rem/* 20px */;
}
